<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138515130-1"></script>
			<script>
        		window.dataLayer = window.dataLayer || [];
        		function gtag(){dataLayer.push(arguments);}
        		gtag('js', new Date());
        		gtag('config', 'UA-138515130-1');
			</script>
		</head>
		<body>
			<nav>
        		<ul>
          		<li><a href="/cv">CV</a></li>
          		<li><a href="/blog">Blog</a></li>
                <li><a href="https://github.com/isaac-friedman"><img src="/img/GitHub-Mark-32px.png" height=16px width=16px /> Github</a></li>
        		</ul>
				<h1><a href="/">Isaac Friedman</a><h1>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
        		<ul>
              		<li><a href="mailto:isaac@isaac-friedman.com">Email</a></li>
                    <li><a href="cv/Isaac_Friedman_CV.pdf">Download My CV</a></li>
    			</ul>
			</footer>
		</body>
	</html>
